<html>
<body>
  <h1>About Us</h1>

  <p>BandWagon was made and is maintained by Kenny, Lily, Lynette and Ryan: four developers with a love for music and a passion for making awesome apps come true. Wanna let us know what you think? Contact us at bandwagon@gmail.com</p>

  <div class="box-outer">
    <div class="box-inner">
      <%= image_tag("kenny.JPG") %>
      <h2>Kenny</h2>>
    </div>
  </div>

  <div class="box-outer">
    <div class="box-inner">
      <%= image_tag("lily.JPG") %>
      <h2>Lily</h2>
    </div>
  </div>

  <div class="box-outer">
    <div class="box-inner">
      <%= image_tag("ryan.JPG") %>
      <h2>Ryan</h2>
    </div>
  </div>

  <div class="box-outer">
    <div class="box-inner">
      <%= image_tag("lynette.JPG") %>
      <h2>Lynette</h2>
    </div>
  </div>


</body>
</html>


