<h1>About Us<h1>

<p>BandWagon was made and is maintained by Kenny, Lily, Lynette and Ryan: four developers with a love for music and a passion for making awesome apps come true. Wanna let us know what you think? Contact us at email@gmail.com</p>


<p>Kenny pic</p>
<p>Lily pic</p>
<p>Lynette pic</p>
<p>Ryan pic</p>

