<h1>About Us</h1>

  <p>BandWagon was made and is maintained by Kenny, Lily, Ryan and Lynette: four developers with a love for music and a passion for making awesome apps come true. Wanna let us know what you think? Contact us at bandwagon@gmail.com</p>

  <a href="https://github.com/kbbushman">
    <div class="box-outer">
      <div class="box-inner">
        <div class="index-medium-thumbnail">
          <%= image_tag("kenny.JPG") %>
        </div>
        <h2>Kenny</h2>
      </div>
    </div>
  </a>

  <a href="https://github.com/LilyCole">
    <div class="box-outer">
      <div class="box-inner">
        <div class="index-medium-thumbnail">
          <%= image_tag("lily.JPG") %>
        </div>
        <h2>Lily</h2>
      </div>
    </div>
  </a>

  <a href="https://github.com/rhamill1">
    <div class="box-outer">
      <div class="box-inner">
        <div class="index-medium-thumbnail">
          <%= image_tag("ryan.JPG") %>
        </div>
        <h2>Ryan</h2>
      </div>
    </div>
  </a>

  <a href="https://github.com/lynetteduran">
    <div class="box-outer">
      <div class="box-inner">
        <div class="index-medium-thumbnail">
          <%= image_tag("lynette.JPG") %>
        </div>
        <h2>Lynette</h2>
      </div>
    </div>
  </a>
