<body>
  <div class="about-us-container">
    <h1><center>About Us<center></h1>

    <p>BandWagon was made and is maintained by Kenny, Lily, Ryan and Lynette: four developers with a love for music and a passion for making awesome apps come true. Wanna let us know what you think? Contact us at <a href="mailto:bandwagon@gmail.com">bandwagon@gmail.com</a>.</p>

    <div class="about-us-pic-container">
      <a href="https://github.com/kbbushman">
        <div class="about-us-box-outer">
          <div class="about-us-box-inner">
            <div class="about-us-pic">
              <%= image_tag("kenny.JPG") %>
            </div>
            <h2>Kenny</h2>
          </div>
        </div>
      </a>

      <a href="https://github.com/LilyCole">
        <div class="about-us-box-outer">
          <div class="about-us-box-inner">
            <div class="about-us-pic">
              <%= image_tag("lily.JPG") %>
            </div>
            <h2>Lily</h2>
          </div>
        </div>
      </a>

      <a href="https://github.com/rhamill1">
        <div class="about-us-box-outer">
          <div class="about-us-box-inner">
            <div class="about-us-pic">
              <%= image_tag("ryan.JPG") %>
            </div>
            <h2>Ryan</h2>
          </div>
        </div>
      </a>

      <a href="https://github.com/lynetteduran">
        <div class="about-us-box-outer">
          <div class="about-us-box-inner">
            <div class="about-us-pic">
              <%= image_tag("lynette.JPG") %>
            </div>
            <h2>Lynette</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>
