<div class="start-your-band-today">
	<h1 class="home-title">Start Your Awesome Band Today!</h1>
</div>
<div class="home-find-container">
  <%= link_to 'Find A Musician', musicians_path, class: 'find-box find-musicians' %>
  <%= link_to 'Find A Band', bands_path, class: 'find-box find-bands' %>
</div>
