You're on the welcome page

<div class="float-fix home-find-container">
  <%= link_to 'Find Musicians', musicians_path, class: 'find-musicians' %>
  <%= link_to 'Find Bands', root_path, class: 'find-bands' %>
</div>
