<section class="form-content-white">

  <h1>Create Dat Band</h1>
  <%= form_for @band do |f| %>
    <div class="container-gray">
        <%= f.text_field :band_name, placeholder: "Name" %>
      </div>
      <%= f.submit "Create", class: "button" %>
    </div>
  <% end %>

</section>
