<section class="content-white">

  <h1>Available Openings</h1>
  <% @openings.each do |opening| %>
    <p><%= opening.band.band_name %> - <%= opening.instrument.instrument_name %>
      <%= link_to 'Add', band_instrument_musician_path(opening.id), method: :put %>
    </p>
  <% end %>
</section>
