/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #ddd;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 6rem;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

/*
Inputs and Buttons
**************************************/

button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  background-color: #555;
  width: 100%;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
  padding: 20px 16px;
  margin: 24px 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}


button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

.wrap {
  background: #ddd;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.content {
  max-width: 1000px;
  padding: 0 30px 30px;
  margin: 0 auto;
}

.float-fix {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header {
  width: 100%;
  background: #fff;
}

/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.nav-collapse {
  background: #fff;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #999;
}

.nav-collapse .wrap {
  background: #fff;
  max-width: 900px;
  min-height: auto;
  padding: 15px 30px;
  margin: 0 auto;
  overflow: hidden;
}

.nav-logo {
  display: block;
  float: left;
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-collapse ul {
  display: inline-block;
  max-width: 240px;
  padding: 0;
  margin: 0 0 0 32%;
  float: left;
}

.nav-collapse li {
  display: inline-block;
  list-style-type: none;
  font-size: 15px;
  font-weight: normal;
  padding: 0;
}

.nav-collapse li:first-child {
  padding-right: 40px;
}

.nav-collapse li a {
  color: #000;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.nav-collapse li:hover,
.nav-collapse li a:hover {
  text-decoration: none;
}

.account-nav {
  float: right !important;
  margin: 0 !important;
}

.account-nav li {
  font-size: 15px;
  padding: 0 10px;
}

.account-nav li:first-child {
  padding-right: 10px;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 700px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  .responsive-menu {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {

  .nav-collapse .wrap {
    display: none;
  }

  .nav-logo {
    float: none !important;
  }

  .responsive-menu-container {
    width: 100%;
    background: #fff;
  }

  .responsive-menu {
    float: none;
    display: block !important;
    width: 100%
  }

  .nav-collapse ul {
    margin: 0 0 0 20px !important;
  }

  .responsive-menu li {
    display: block !important;
    width: 100%;
    padding: 15px 0 !important;
  }

}

/* ------------------------------------------
  NAVIGATION TOGGLE STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

/*.nav-toggle:active {
  background: #fff;
  height: 280px;
}*/

.nav-toggle:before {
  color: #999; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 40px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
  height: 270px !important;
  background: #fff;
}

/* For editable fields */
.toggle_text {
  font-size: 1em;
  font-family: serif;
  border: none;
}

.toggle_text_area {
  font-size: 1em;
  font-family: serif;
  border: none;
  resize: none;
  max-height: 10em;
  width: 90%;
}

.edit_area {
  width: 90%;
}

.btn_hide {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 25px 0;
  margin: 0;
  border-top: 1px solid #999;
}
