.inst a {
  color: #fff;
  text-decoration: none;
  word-spacing: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.instrument-title {
  text-align: center;
}

.inst-box-container {
  background: #ddd;
  width: 100%;
  text-align: center;
  word-spacing: 40px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.inst-box-list {
  max-width: 1120px;
  word-spacing: 40px;
  padding: 0;
  margin: 30px auto 20px;
}

.inst-box-outer {
  word-spacing: 0;
  display: inline-block;
  padding: 0;
  margin: 0 0 40px;
  vertical-align: top;
  border: 2px solid #e5e5e5;
}

.inst-box-inner {
  background: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 2px solid #dddddd;
}
