<div class="content">
  <h2 class="instrument-title">Find Musicians by Instrument</h2>
  <div class="inst-box-container">
    <div class="inst-box-list">
      <% @instruments.each do |instrument| %>
      	<div class="inst-box-outer">
      		<div class="inst-box-inner">
        		<p class="find-instruments inst"><%= link_to instrument.instrument_name, instrument_path(instrument) %></p>
        	</div>
        </div>
      <% end %>
    </div>
  </div>
</div>
